apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  # storageClassName: microk8s-hostpath  # Uncomment for microk8s
  # storageClassName: standard           # For GKE
  # storageClassName: gp2                # For AWS EKS
